

body{
    align-items: center;
    text-align: center;
    font-family: futura;
    background: #3399FF;
    font-weight: bold;
}
h1 {
    font-size: 96px;
    font-weight: bolder;
    text-align: center;
    color: red;
    padding: 18px;
}
h2 {
    font-size: 48px;
    padding: 6px;
}
h2[id="guess-count"] {
    color: orange;
    font-size: 48px;
    padding: 1px;
    border: 0px;
}

h3 {
    font-weight: bold;
    padding: 4px;
}

input {
  border: 0;
  padding: 5px;
  font-size: 18px;
}

input[type="submit"] {
  background: red;
  color: white;
}

button[type='start'] {
    border:80px;
    padding: 70px;
    font-size: 50px;
}

button {
    background: white;
    color: red;
    border: 0px;
    padding: 22px;
    font-size: 22px;
}

/* []
